/* shared class */
*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.btn{
    height:65px;
    width:150px;
    font-size:20px;
    padding: 18px 35px;
    font-weight:bold;
    color:white;
    background-color: #FD6E0A;
    border:none;
    border-radius: 5px;

}
/* shared class */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color:#FFF8F3;
    padding-top:50px;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-size: 50px auto, 600px auto;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    width:71%;
    max-width: 1140px;
    /* border:1px solid red; */
    margin:0 auto;
    align-items: center;

    
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font:45px;
    font-size:70px;
}
 .Orange-color{
    color:red;
}
.logo ul{
    
    display: flex;
    justify-content: space-between;
   list-style: none;
   gap:51px;
    align-items: center;
  
   
}
.logo ul a{
    text-decoration: none;
     font:20px;
   color:#4747;
  
 }
 /* 
.banner{
    width:585px;
    height:356px;
}
.download-btn{
    width:200px;
    height:64px;
    background-color: #FD6E0A;
      color:white;
      border:none;
      border-radius:5px ;

}
.
}
.btn-gap{
    display:flex;
    gap:40px;
}


}
/* .hardy-image{ */
    /* display:flex; */

 /* .hardy-image img{ 
    width: 584px;
    height:576px;
    
/* } */
    #banner{
        
    display:flex;
    margin:46px 38px 0px  120px ;
    
    justify-content: space-between;
    align-items: center;
    }
    #banner .banner-content{
        max-width:585px;
    }
    #banner .banner-content h2{
        font-size:35px;
        font-weight: 600;
        margin-bottom:5px;
        color:#4747;
    }
    #banner .banner-content h1{
        font-size: 65px;
         font-weight: bold;
        margin-bottom:20px;
        color:#181818;
    }
    #banner .banner-content p{
        font-size:18px;
        color:#757575;
        line-height: 30px;
        margin-bottom: 30px;

    }
    .download-btn{
    width:200px;
    height:64px;
    background-color: #FD6E0A;
      color:white;
      font-size:medium;
      border:none;
      border-radius:5px ;

}
.contact-btn{
    width:160px;
    height:64px;
     background-color: #FD6E0A;
     color:white;
     font-size:medium;
      border:none;
      border-radius:5px ;
      
}


    #banner .banner-img img{
       
       max-width: 300px;
    
    vertical-align: middle;
    }
 






